*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

:root{
    --blanco: #ffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

body{
    font-size: 16px;
}

.titulo{
    text-align: center;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    background-color: #0097a7;
    margin: 2rem 0 2rem 0;
}

.menu-principal{
    display: flex;
    max-width: 120rem;
    margin: auto;
    justify-content: space-between;
}

.menu-principal a{
    padding: 15px 20px;
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;;
}

.menu-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url('');
}

@media (max-width: 480px) {
    .menu-principal{
        flex-direction: column;
        background-color: #ffc107;
    }
    h1{
        font-size: 2rem;
    }
}

.fondo{
    height: 50px;   
}
