*{
	margin: 0; 
	padding: 0;
}

label{
	color: black;
}

nav{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.671);
}

.menu-container{
	display: flex;
	justify-content: space-around;
}

.menu-container a{
	display: inline-block;
	padding: 15px 30px;
	color: black;
	margin: .5%;
	text-decoration: none;
	border-radius: 10px 0 5px 0;
}

.menu-container a:hover{
	transition: .5s;
	color: white;
	box-shadow: 1px 2px 5px rgb(0, 0, 0);
	/* background-color: rgb(17, 169, 219); */
	background-color: deeppink;
	transform: translateX(10px)
}

.header{
	background-image: url('https://images.unsplash.com/photo-1494496195158-c3becb4f2475?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 50vh;
	width: 100%;
	margin-top: 3.5%;
}
.capa{
	display: flex;
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(255, 130, 28, 0.525), rgba(100, 148, 237, 0.493));
	justify-content: center;
	align-items: center;
}

.contenido{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
}

main{
	margin-top: 2%;
}

.contenedor-images{
	display: flex;
	width: 90%;
	border: 1px solid black;
	margin: auto;
}

.tarjetas{
	display: flex;
	width: 25%;
	border: 1px solid;
	margin: 1%;
	flex-direction: column;
}
.imagen{
	display: flex;
	justify-content: center;
	align-items: center;
}

img{
	margin: 10px;
	width: 80%;
	border-radius: 10px 0px 10px 0;
}
