.contenedor {
    position: fixed;
    inset: 0;
    background-color: rgba(11, 11, 11, 0.233);
    z-index: 2;
}

.contenedor-aviso {
    position: relative;
    background-color: white;
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    height: 200px;
    color: black;
}

.contenedor-aviso span {
    font-weight: 700;
}