.formulario-boton {
    border-radius: 5px;
    padding: 10px 20px;
}

.burger-buttom {
    position: absolute;
    left: 100%;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    bottom: 1%;
}

.add {
    cursor: pointer;
    height: 25px;
    z-index: 10;
    width: 25px;
}

.more {
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.more .submenu {
    position: absolute;
    left: -10px;
    min-width: 100px;
    background-color: black;
    z-index: 10;
}

.submenu button {
    background-color: transparent;
    color: white;
    padding: 10px;
    border: none;
}

@media (width < 640px) {
    .burger-buttom {
        display: none;
    }
}