.nota {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #222222;  
    padding: 10px;
    transition: .25s box-shadow;
    height: 100px;
    overflow: hidden;
}

.nota:hover {
    box-shadow: 2px 2px 5px #000000;
}

.nota-contenido {
    height: max-content;
    text-overflow: ellipsis;
}

.informacion-nota {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
}

.informacion-nota * {
    user-select: none;
}

.informacion-nota .nota-contenido p {
    overflow: hidden;
    white-space: nowrap;
    text-transform: lowercase;
    text-overflow: ellipsis;
    width: 30vw;
}

.fecha {
    margin: auto;
}

.opciones-nota {
    margin: 0 2vw;
    margin-left: auto;
}


.nota-contenido h2   { 
    text-transform: capitalize;
}

@media(width < 700px) {
    .nota-contenido p {
        display: none;
        width: 2vw;
    }

    .fecha {
        display: none;
    }
}