.home {
    color: white;
    margin: auto;
    width: 85%;
    height: 100%;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
}

.encabezado-notas {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    height: 15vh;
}

.encabezado-notas h1 {
    font-weight: 200;
}

.vistas {
    display: grid;
    grid-template-columns: 3fr auto;
}

.encabezado-notas button {
    margin-left: auto;
    padding: clamp(5px, 2%, 10px) clamp(10px, 5%, 30px);
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.219);
}

@media (width < 640px) {
    .vistas {
        display: none;
    }
}